<ion-view title="" id="page12" style="background-color:#CAE7FA;">
  <ion-content padding="true" class="has-header">
    <h3 id="page12-heading14" style="color:#504C4C;text-align:center;">Falta pouco agora ...</h3>
    <form id="page12-form13" class="list">
      <div id="page12-markdown16" class="show-list-numbers-and-dots">
        <p style="color:#504C4C;font-size:16px;">E-mail</p>
      </div>
      <label class="item item-input" id="page12-input26">
        <input type="text" placeholder="Digite seu email">
      </label>
      <div class="spacer" style="width: 300px; height: 5.96484px;"></div>
      <div id="page12-markdown17" class="show-list-numbers-and-dots">
        <p style="color:#504C4C;font-size:16px;">Senha</p>
      </div>
      <label class="item item-input" id="page12-input27">
        <input type="password" placeholder="Digite sua senha">
      </label>
      <div id="page12-markdown18" class="show-list-numbers-and-dots">
        <p style="color:#504C4C;font-size:12px;">A senha deve ter pelo menos 6 caracteres</p>
      </div>
      <h5 id="page12-heading15" style="color:#504C4C;text-align:justify;">Ao clicar em "Cadastra", você concorda com nosso termos e condições de uso e a política de privacidade, verifique o abaixo:</h5>
      <ion-item class="item-thumbnail-left" id="page12-list-item10">
        <img src="img/7nChWZzsR0WpbCVkcUKI_Termos-de-uso-e-politica-de-privacidade-blog.jpg">
        <p style="white-space:normal;">Nosso termos e condições de uso e a política de privacidade.</p>
      </ion-item>
    </form>
    <a ui-sref="page5()" id="page12-button44" class="button button-positive button-block">CADASTRAR</a>
    <a ui-sref="page11()" id="page12-button45" class="button button-stable button-block">VOLTAR</a>
  </ion-content>
  
</ion-view>