<ion-view title="" id="page2" style="background-color:#CAE7FA;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 85px;"></div>
    <h3 id="page2-heading4" style="color:#504C4C;font-weight:400;text-align:center;">Oi, você tem um cachorro, certo?</h3>
    <div class="spacer" style="width: 300px; height: 14.9844px;"></div>
    <h3 id="page2-heading5" style="color:#504C4C;text-align:center;">Qual é o nome do seu pet? </h3>
    <form id="page2-form7" class="list">
      <label class="item item-input" id="page2-input17">
        <input type="text" placeholder="Informe o nome do seu pet">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 41.9766px;"></div>
    <a ui-sref="page3()" id="page2-button9" class="button button-positive button-block">CONTINUAR</a>
    <a ui-sref="page1()" id="page2-button26" class="button button-stable button-block">VOLTAR</a>
  </ion-content>
</ion-view>