<ion-view title="" id="page11" style="background-color:#CAE7FA;">
  <ion-content padding="true" class="has-header">
    <h3 id="page11-heading13" style="color:#504C4C;text-align:center;">Agora chegou a sua vez! </h3>
    <form id="page11-form12" class="list">
      <div class="spacer" style="width: 300px; height: 15.9766px;"></div>
      <div id="page11-markdown13" class="show-list-numbers-and-dots">
        <p style="color:#504C4C;font-size:16px;">Nome</p>
      </div>
      <label class="item item-input" id="page11-input23">
        <input type="text" placeholder="Digite seu nome">
      </label>
      <div class="spacer" style="width: 300px; height: 18.9766px;"></div>
      <div id="page11-markdown14" class="show-list-numbers-and-dots">
        <p style="color:#504C4C;font-size:16px;">CPF</p>
      </div>
      <label class="item item-input" id="page11-input24">
        <input type="text" placeholder="Digite seu CPF">
      </label>
      <div class="spacer" style="width: 300px; height: 20.9766px;"></div>
      <div id="page11-markdown15" class="show-list-numbers-and-dots">
        <p style="color:#504C4C;font-size:16px;">Celular</p>
      </div>
      <label class="item item-input" id="page11-input25">
        <input type="tel" placeholder="(xx) xxxxx-xxxx">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 15.9766px;"></div>
    <a ui-sref="page12()" id="page11-button42" class="button button-positive button-block">CONTINUAR</a>
    <a ui-sref="page10()" id="page11-button43" class="button button-stable button-block">VOLTAR</a>
  </ion-content>
</ion-view>