<ion-view title="" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="page2-heading1" style="color:#64A3E0;">Dados do seu animal</h3>
	<div class="spacer" style="width: 300px; height: 10px;"></div>
    <form id="page2-form2" class="list">
      <label class="item item-input" id="page2-input3">
        <span class="input-label">Informe a raça do seu animal</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height:20px;"></div>
      <label class="item item-input" id="page2-input4">
        <span class="input-label">Informe o nome do seu animal</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <div id="page2-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:15px;">Seu animal de estimação é?</p>
      </div>
      <div id="page2-button-bar3" class="button-bar">
        <button id="page2-button15" class="button button-calm button-medium button-block">Filhote</button>
        <button id="page2-button16" style="font-size:15px;" class="button button-calm button-medium button-block">Adulto</button>
        <button id="page2-button17" class="button button-calm button-medium button-block">Idoso</button>
      </div>
      <div id="page2-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:15px;">Qual é o tamanho do seu animal de estimação é ?</p>
      </div>
      <div id="page2-button-bar2" class="button-bar">
        <button id="page2-button12" class="button button-calm button-medium button-block">Pequeno</button>
        <button id="page2-button13" class="button button-calm button-medium button-block">Medium</button>
        <button id="page2-button14" class="button button-calm button-medium button-block">Grande</button>
      </div>
      <div id="page2-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:15px;">Seu animal de estimação é um(a)?</p>
      </div>
      <div id="page2-button-bar4" class="button-bar">
        <button id="page2-button18" class="button button-calm button-medium button-block">Menina</button>
        <button id="page2-button19" class="button button-calm button-medium button-block">Menino</button>
        <button id="page2-button20" class="button button-calm button-medium button-block">Indefinido</button>
      </div>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
    </form>
    <a ui-sref="page3()" id="page2-button21" style="text-align:left;" class="button button-positive button-block icon-right ion-chevron-right">CONTINUAR PREENCHENDO </a>
  </ion-content>
</ion-view>