<ion-view title="" id="page9" style="background-color:#CAE7FA;">
  <ion-content padding="true" class="has-header">
    <h3 id="page9-heading11" style="color:#504C4C;">O que seu pet precisa? </h3>
	<div class="spacer" style="height: 10px;"></div>
    <div style="display:flex">
      <img src="img/2GO62MZfQPScpg0WFhlp_Dog-walker.jpg" style="display: inline; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
      <img src="img/w6JESVlLRmO79OQHGpBh_onde-encontro-veterinario-para-cachorro.jpg" style="display: inline; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
	  <div style="display: flex">
	  <div style="margin-left:10px">
		Dog Walker
		</div>
		<div style="margin-left: 105px">
		Veterinário
		</div>
	  </div>
    </div>
    <div style="display:flex">
      <img src="img/4XETUTt3S3ikobl0K3A2_1590-cachorro-dormindo-na-cama-descubra-os-p-opengraph_1200-1.jpg" style="display: inline; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
	  <img src="img/V0th6jvRQHOz6TyVFeIW_guiden-till-hundvanliga-butiker-i-stockholm.jpg" style="display: inline; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
	<div style="display: flex">
	  <div style="margin-left:10px">
		Hospedagem
		</div>
		<div style="margin-left: 90px">
		Produtos
		</div>
	  </div>
	<div class="spacer"></div>
		 <h3 style="color:#504C4C;" >Fique por dentro!</h3>
         <div>
      <img src="img/US9Efl1gSeyrakPVcI7R_Adote-um-Pet-Itapevi-1024x1024-corte.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

  </ion-content>
    <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
	<ion-tab title="Menu" icon="ion-person" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Pedidos" icon="ion-ios-paw" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Pet" icon="ion-heart" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>