<ion-view title="" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="page3-heading2" style="color:#64A3E0;">Dados cadastrais pessoais</h3>
	 <div class="spacer" style="width: 300px; height: 10px;"></div>
    <form id="page3-form3" class="list">
      <label class="item item-input" id="page3-input5">
        <span class="input-label">Informe seu nome</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="page3-input15">
        <span class="input-label">Informe seu CPF</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="page3-input6">
        <span class="input-label">Informe seu CEP</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="page3-input7">
        <span class="input-label">Informe o endereço completo</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="page3-input8">
        <span class="input-label">Informe seu telefone</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="page3-input10">
        <span class="input-label">Informe seu email</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="page3-input11">
        <span class="input-label">Informe uma senha com 6 dígitos</span>
        <input type="text" placeholder="">
      </label>
    </form>
	 <div class="spacer" style="width: 300px; height: 15px;"></div>
    <a ui-sref="page5()" id="page3-button22" class="button button-balanced button-block icon-right ion-android-done">FINALIZAR CADASTRO </a>
  </ion-content>
</ion-view>