<ion-view title="" id="page3" style="background-color:#CAE7FA;">
  <ion-content padding="true" class="has-header">
    <h2 id="page3-heading8" style="color:#504C4C;text-align:center;">Menino ou menina?</h2>
    <div class="spacer" style="width: 300px; height: 19.9883px;"></div>
    <div>
      <a style="display:block;" ui-sref="page7()">
        <img src="img/Vrf59mBRcq6ijdGl3kiq_-cachorro-macho.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 25.9883px;"></div>
    <div>
      <a style="display:block;" ui-sref="page7()">
        <img src="img/LvqJJ7xRmu153WRQ4OXk_cachorra-femea-petlove.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 25.9805px;"></div>
    <a ui-sref="page2()" id="page3-button27" class="button button-stable button-block">VOLTAR</a>
  </ion-content>
</ion-view>