<ion-view title="" id="page8" style="background-color:#CAE7FA;">
  <ion-content padding="true" class="has-header">
    <h3 id="page8-heading10" style="color:#504C4C;text-align:center;">Seu pet é um (filhote, adulto, idoso)?</h3>
    <div>
      <a style="display:block;" ui-sref="page10()">
        <img src="img/te3R9j8QRFi4yu21ri0O_filhote.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 8.92969px;"></div>
    <div>
      <a style="display:block;" ui-sref="page10()">
        <img src="img/zH7ThtAQg2GGSlwjbgxb_adulto.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 8.92969px;"></div>
    <div>
      <a style="display:block;" ui-sref="page10()">
        <img src="img/smIIGTI7T9yytm4IxLJF_idoso.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 17.9258px;"></div>
    <a ui-sref="page7()" id="page8-button29" class="button button-stable button-block">VOLTAR</a>
  </ion-content>
</ion-view>