<ion-view title="" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/MxOICbiGTLibGG37Jxgj_d47l9aiLSrGsSywuAooP_Capa_para_destaque_do_Instagram__Dog__cachorro__pegadas-removebg-preview.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form4" class="list">
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <ion-list id="page4-list1">
        <label class="item item-input" id="page4-input13">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Informe seu email">
        </label>
        <label class="item item-input" id="page4-input14">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Informe sua senha">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
    <a ui-sref="page9()" id="page12-button44" class="button button-positive button-block">ENTRAR</a>
    </form>
  </ion-content>
</ion-view>